<h1>Welcome <%= @user.name %>!</h1> 

<h2>GOALS:</h2>

<% @goals.each do |g| %>
    <a href="/goals/<%=g.id%>/edit">
    <%=g.title.upcase%>:
    <%=g.description%> </a>
    <br>
    <br>
<% end %>


<a href="/goals/new">Create a New Goal</a>
<br>
<br>
<a href="/logout"> Log Out</a>


