<h2>Hey <%= @user.name %>, let's tackle your goals today!</h2> 



<% @goals.each do |g| %>
    <a href="/goals/<%=g.id%>/edit">
    <%=g.title.upcase%>:
    <%=g.description%> </a>
    <br>
    <br>
<% end %>


<button type="button"><a href="/goals/new">Create a New Goal</a></button>
<br>
<br>

