<h2>EDIT GOAL</h2>


<form action="/goals/<%=@goal.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

<h3><label for="title">Title:</label></h3>
<input type="text" name="title" value="<%= @goal.title%>">

<h3><label for="description">Description:</label></h3>
<input type="text" name="description" value="<%= @goal.description %>">
<br>
<br>

<input type="submit" value="Update Goal">
<form action="/goals/<%=@goal.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
</form>

