Create A New Goal 
<br>
<br>
<form action="/goals" method="POST">

<label for="title">Title:</label>
<input type="text" name="title">
<br>

<label for="description">Description:</label>
<textarea name="description" style="width:auto; height:auto;"></textarea>
<br>
<br>

<input type="submit" value="Create A New Goal">
</form>