<h2>Create A New Goal</h2>

<form action="/goals" method="POST">

<label for="title">Title:</label>
<input type="text" name="title" required>
<br>
<br>
<label for="description">Description:</label>
<br>
<textarea name="description" rows="4" cols="50" required></textarea>
<br>
<br>

<input type="submit" value="Submit">
<br>
<br>
</form>

