
<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
  <body>
    <div class="head">
      <h2>Goal Tracker</h2>
    </div>
    <div class="content">
      <p>Tracking your goals helps you stay focused on what's important to reaching your goal. It helps you identify potential obstacles and strategies for how to overcome them. It can help you set more realistic goals and stay positive along the way.</p>
    </div>

<button type="button"><a href="/login">Log In</a></button> - OR - <button type="button"><a href="/signup">Sign Up</a></button>
  
</body>
  </div>
</div>

<br>
<br>
